nav {
    background-size: contain;  /* Ensures the whole image is visible */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    width: 100%; /* Full width */
    height: 25px; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-right: auto;
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

nav .nav-links {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s ease-in-out;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.navbar-options {
    width: 50%;
    font-size: 15px;
}